{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The second meta tag has the website extend into the notch on iphones in landscape mode,
        however that causes issues in Google Chrome for iphone -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static 'events/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/event_register.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/event_detail.css' %}">
    <link rel="stylesheet" href="{% static 'events/css/teammate_select.css' %}">

    <!-- Icon -->
    <link rel="icon" href="{% static 'events/icons/company/wt_logo_001.png' %}">

    {% if title %}
        <title>Weekly Tournaments - {{ title }}</title>
    {% else %}
        <title>Weekly Tournaments</title>
    {% endif %}
    
    <!-- Global JS Scripts -->
    <script src="{% static 'events/javascript/hoverControl.js' %}" defer></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-left">
                <li><a href="{% url 'events-home' %}">Home</a></li>
                <!-- About Page was here -->
                <li><a href="{% url 'events-list' %}">Tournaments</a></li>
            </ul>
            <span><a href="{% url 'events-home' %}">Weekly Tournaments</a></span>
            <ul class="nav-right">
                {% if user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <li><a href="{% url 'event-create' %}">New Tournament</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="contact">
            <h1>Get in touch</h1>
            <span class="tag">Email:</span><a href="mailto:weeklytournaments0@gmail.com">weeklytournaments0@gmail.com</a>
        </div>
        <div class="copyright">
            <span class="smaller-text">&copy; Copyright 2022, Noah Turnquist. All Rights Reserved</span>
        </div>
    </footer>
</body>
</html>