{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="form-container form-container-delete">
        <div class="input-form">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Delete Tournament</legend>
                    <h2>Are you sure you would like to delete "{{ object.title }}"?</h2>
                    <button class="signup-btn" id="danger-btn" type="submit">Yes, Delete</button>
                    <a class="signup-btn" id="info-btn" href="{% url 'event-detail' object.id %}">Cancel</a>
                </fieldset>
            </form>
        </div>
        <div class="form-sidepanel">
            <img src="{% static 'events/images/background/dunking_outside_001.jpg' %}" alt="">
        </div>
    </div>
{% endblock content %}