{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="form-container form-container-register">
        <div class="input-form">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>New Tournament</legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="button-container">
                    <button class="signup-btn" type="submit">Create</button>
                </div>
            </form>
        </div>
        <div class="form-sidepanel">
            <img src="{% static 'events/images/background/dunking_outside_001.jpg' %}" alt="">
        </div>
    </div>
{% endblock content %}