{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="form-container form-container-register">
        <div class="input-form">
            {% if registered == False %}
                <div id="paypal-button-container"></div>

                </form>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Register for {{ event.title }}</legend>
                    </fieldset>
                    <div class="button-container">
                        <button class="btn btn-info" type="submit">Register</button>
                    </div>
                </form>
            {% else %}
                <h3>You are already registered for {{event.title}}.</h3>
                <a class="center" href="{% url 'events-home' %}">Go to Home</a>
            {% endif %}
        </div>
        <div class="form-sidepanel">
            <img src="{% static 'events/images/background/dunking_outside_001.jpg' %}" alt="">
        </div>
    </div>

    <!-- Paypal Button Scripts -->
    <script src="https://www.paypal.com/sdk/js?client-id=AazAUJurVtkqMR7Gx1ly0bClQY_E-w4ihbYhBUF2pud-EC5Cfi3BzG8Kt65xo-aoxYfduSahaU_JFTQh&currency=USD&disable-funding=credit"></script>
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'rect',
                size: 'responsive'
            },

            //setup the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '25.00'
                        }
                    }]
                });
            },

            //Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    //Show a success message
                    alert(`Transaction completed by ${details.payer.name.given_name}.`)
                });
            }

        }).render('#paypal-button-container');
    </script>
{% endblock content %}