{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="events">
        <div class="banner">
            <div class="video-wrapper">
                <video src="{% static 'events/videos/home_page_background_v002.mp4' %}" autoPlay muted loop>
                    Video could not load
                </video>
                <div class="overlay-text">
                    <div class="spacer"></div>
                    <div class="banner-title">
                        <h2>{{ object.event_datetime|date:"F j Y, g:iA" }}</h2>
                    </div>
                    <div class="banner-secondary">
                        <h3>{{ object.title }}</h3>
                        <h3>{{ object.location }}</h3>
                        {% if is_filled == False %}
                            {% if registered == False %}
                                <a class="btn" href="{% url 'event-register' %}?event={{ event.pk }}" >Register</a>
                            {% else %}
                                <span class="btn-deactivated">You Are Registered</span>
                            {% endif %}
                        {% else %}
                            <span class="btn-deactivated">Tournament Full</span>
                        {% endif %}
                        <h3>{{ object.registered_users.count }} / {{ object.max_users }} Spots Filled</h3>
                    </div>
                </div>
            </div>
        </div>
        <section class="informational">
            <div class="section-header" id="tournament-info">
                <span>Tournament</span>
                <h1>Info</h1>
                <div class="iframe-container">
                    <iframe class="med-video" src="https://www.youtube.com/embed/Yv3e3wDQIGU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <span id="intro-video-title">Introduction Video</span>
                </div>
            </div>
            <div class="section-main-text">
                <div class="tag">
                    <span>Info</span>
                </div>
                <p>
                    The tournament is a 5 vs. 5 full court tournament, consisting of 8 teams.
                    Each team will get to play at least 2 games. As there is a 2-game regular season, followed by a 4 team single-elimination tournament.
                    All games will be officiated by a trained referee. <br>
                    The tiebreaker rules are as follows, ...
                </p>
            </div>
            <div class="section-main-text">
                <div class="tag">
                    <span>Rules</span>
                </div>
                <div class="list-container">
                    <ul class="red-list">
                        <li>The games will be officiated using NBA rules, apart from a few exceptions.</li>
                        <li><a href="https://official.nba.com/rule-no-1-court-dimensions-equipment/">NBA rulebook</a></li>
                        <li>Exception 1: any shot beyond half-court is worth 4-points</li>
                        <li>Exception 2: 4-fouls to foul out</li>
                    </ul>
                    <ul class="red-list">
                        <li>Each half is 10-minutes long</li>
                        <li>5-minute halftime</li>
                        <li>If a player on your team is unable to play, we will provide a sub</li>
                        <li>The sub will either be one provided by the tournament, or will be a player from an eliminated team</li>
                    </ul>
                </div>
            </div>
        </section>
        {% if request.user.is_staff %}
        <div class="staff-btn-container">
            <a class="signup-btn" id="info-btn" href="{% url 'event-update' object.id %}">Update</a>
            <a class="signup-btn" id="danger-btn" href="{% url 'event-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}
