{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="form-container form-container-event-register">
        <div class="input-form" id="event-register-input-form">
            <div class="event-register-info">
                <div class="legend-container">
                    <legend>Register for {{ event.title }}</legend>
                </div>
                {% if adult_only %}
                    <h3>This tournament is for participants 16+</h3>
                {% endif %}
                <p class="small center">To register for tournament, make the payment through paypal, navigate back to this page, and click the register button.</p>
            </div>
            {% if is_filled == False %}
                {% if registered == False %}
                    <div class="paypal-container">
                        <div id="paypal-button-container"></div>
                    </div>

                    <div class="status-icon">
                        <img id="checkmark" src="{% static 'events/icons/status/checkmark_001.png' %}" alt="">
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="button-container">
                            <span class="btn-deactivated">Register</span>
                            <button class="btn btn-info" type="submit" style="display: none">Register</button>
                        </div>
                    </form>
                {% else %}
                    <h3>You are already registered for {{event.title}}.</h3>
                    <a class="center" href="{% url 'events-home' %}">Go to Home</a>
                {% endif %}
            {% else %}
                <h3>This tournament is full.</h3>
                <a class="center" href="{% url 'events-home' %}">Go to Home</a>
            {% endif %}
        </div>
        <div class="form-sidepanel">
            <img id="side-img-event-register" src="{% static 'events/images/background/dribble_001.jpg' %}" alt="">
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&currency=USD&disable-funding=credit"></script>

    <script event_price="{{ event.price }}">
        
        const eventPrice = document.currentScript.getAttribute('event_price');

        const statusIcon = document.getElementById('checkmark');
        const payButton = document.getElementsByClassName('btn-info')[0];
        const deactivatedButton = document.getElementsByClassName('btn-deactivated')[0];

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },

            //Create transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: eventPrice.toString()
                        }
                    }]
                });
            },

            //Finalize transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details)
                    {
                        statusIcon.style.opacity = '1';
                        deactivatedButton.style.display = 'none';
                        payButton.style.display = 'block';
                    });
            }

        }).render('#paypal-button-container');
    </script>

{% endblock content %}