{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <section class="home">
        <div class="banner">
            <div class="video-wrapper">
                <video src="{% static 'events/videos/home_page_background_v002.mp4' %}" autoPlay muted loop>
                    Video could not load
                </video>
                <div class="overlay-text">
                    <div class="spacer"></div>
                    <div class="banner-title">
                        <h2 class="countdown-text">Loading...</h2>
                    </div>
                    <div class="banner-secondary">
                        <h3>{{ event.title }}</h3>
                        <h3>{{ event.location }}</h3>
                        <a class="main-button" href="{% url 'event-detail' event.id %}" >Go to Page</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Countdown Script -->
    <script src="{% static 'events/javascript/countdown.js' %}" date="{{ event.event_datetime.isoformat }}" defer></script>
{% endblock content %}