:root {
    --base: #171717;
    --base-secondary: #444444;
    --primary: #EDEDED;
    --accent: #DA0037;
    --success: rgb(39, 130, 101);
    --error: rgb(201, 49, 49);
    --debug: rgb(206, 103, 0);
    --info: rgb(0, 170, 170);
    --warning: rgb(153, 138, 0);
}

body {
    background-image: linear-gradient(to bottom right, var(--base), var(--base-secondary));
    color: var(--primary);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main {
    min-height: 100vh;
}

/* Nav Bar */

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar li {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 0.8rem;
}

.navbar span {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.8rem;
}

.navbar a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
}

.navbar a:visited {
    color: var(--primary);
}

.navbar a:hover {
    color: var(--accent);
    transition: 0.3s;
}

.navbar a:active {
    filter: brightness(50%);
    transition: 0.2s;
}

/* Alerts */
.alert {
    border-radius: 10px;
    margin: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 2rem;
    font-weight: 200;
}

.alert-success {
    background-color: var(--success);
}

.alert-error {
    background-color: var(--error);
}

.alert-debug {
    background-color: var(--debug);
}

.alert-info {
    background-color: var(--info);
}

.alert-warning {
    background-color: var(--warning);
}

/* Default anchor styling */
a {
    color: lightblue;
    font-size: 0.8rem;
    transition: 0.3s;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: var(--accent);
    transition: 0.3s;
}

a:active {
    filter: brightness(50%);
    transition: 0.2s;
}