:root {
    --base: #171717;
    --base-secondary: #444444;
    --primary: #EDEDED;
    --accent: #DA0037;
}

body {
    background-image: linear-gradient(to bottom right, var(--base), var(--base-secondary));
    color: var(--primary);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Nav Bar */

.navbar-main {
    background-color: rgba(0, 0, 0, 0.3);
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar-main li {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 0.8rem;
}

.navbar-main span {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.8rem;
}

.navbar-main a {
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
}

.navbar-main a:visited {
    color: var(--primary);
}

.navbar-main a:hover {
    color: var(--accent);
    transition: 0.3s;
}

.navbar-main a:active {
    filter: brightness(50%);
    transition: 0.2s;
}
