
.profile {
    display: grid;
    grid-template-areas: "header header"
                         "events highlights";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 1fr;
    width: 100%;
    height: 100rem;
}

@media only screen and (max-width: 900px) {

    .profile {
        grid-template-areas: "header"
                             "events"
                             "highlights";
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr 1fr;
    }
    
}

.profile-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(var(--base-secondary), var(--base));
    overflow: hidden;
    padding: 5rem 5%;
    border-bottom: 10px solid var(--base-secondary);
}

#profile-header-left {
    display: flex;
    align-items: center;
}

#profile-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-header .profile-image {
    margin-right: 4rem;
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.profile h2, h3 {
    font-weight: 200;
    white-space: normal;
}

.profile-info-text h2, h3 {
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 0.5rem 0;
}

.profile-info-text h2 {
    font-size: 2.5rem;
}

.profile-info-text h3 {
    font-size: 1.25rem;
}

@media only screen and (max-width: 900px) {

    .profile-header .profile-image {
        height: 8rem;
        width: 8rem;
    }

    #profile-header-right {
        flex-direction: column;
        gap: 2rem 0;
    }

}

@media only screen and (max-width: 750px) {

    .profile-header .profile-image {
        margin-right: 2rem;
        height: 6rem;
        width: 6rem;
    }

    .profile-info-text h2 {
        font-size: 1.75rem;
    }
    
    .profile-info-text h3 {
        font-size: 1.25rem;
    }
        
}

@media only screen and (max-width: 500px) {

    .profile-header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #profile-header-right {
        margin-top: 2rem;
    }

}

.profile-section {
    width: 100%;
    overflow: hidden;
}

.profile-events {
    grid-area: events;
    background-color: rgba(255, 255, 255, 0.05);
}

.profile-highlights {
    grid-area: highlights;
}

.profile-events, .profile-highlights {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.profile-section-title {
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width: 500px) {

    .profile-section-title {
        font-size: 1.5rem;
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
    }

}

.profile-tab-info {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 90%;
    margin: 3rem;
}

