.form-container {
    margin: 5rem 10%;
    border-radius: 15px;
    display: grid;
    grid-template-areas: "input-form form-sidepanel";
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: var(--base-secondary);
    overflow: hidden;
}

.form-container-register {
    height: 65rem;
}

.form-container-login {
    height: 40rem;
}

.form-container-delete {
    height: 25rem;
    text-align: center;
}

.form-container-event-register {
    height: 40rem;
}

#update-profile-container {
    height: 55rem;
    grid-template-areas: "input-form profile-sidepanel";
}

.input-form {
    margin: 4rem;
    grid-area: input-form;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 1.25rem;
    font-weight: 200;
}

.input-form legend {
    font-size: 2rem;
    text-align: center;
}

.input-form p {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input-form fieldset {
    border-width: 0px;
}

.input-form input, textarea {
    background-color: rgba(0,0,0,0.25);
    margin-top: 0.5rem;
    border-width: 0;
    border-radius: 5px;
    color: var(--primary);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 200;
}

.input-form input {
    height: 2.5rem;
}

.input-form textarea {
    line-height: 2rem;
}

.input-form .helptext, ul {
    font-size: 0.8rem;
    filter: brightness(75%);
    margin-left: 1rem;
    line-height: 1.25rem;
}

.input-form .errorlist {
    position: relative;
    top:0.5rem;
    background-color: var(--error);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
}

.input-form .button-container {
    display: flex;
    justify-content: center;
}

.staff-btn-container {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.signup-btn {
    cursor: pointer;
    margin-top: 2rem;
    background-color: rgba(0,0,0,0);
    border-width: 0;
    color: var(--primary);
    font-size: 1.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 200;
    border: 1px solid var(--primary);
    padding: 0.75rem;
    width: 10rem;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.signup-btn:hover {
    color: black;
    background-color: var(--primary);
    transition: 0.3s;
}

.signup-btn:active {
    filter: brightness(50%);
    transition: 0.2s;
}

.input-form .text-muted {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 2.5rem;
}

.form-sidepanel {
    grid-area: form-sidepanel;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 15px 15px 0;
    max-height: 100%;
}

.form-sidepanel img {
    max-width: 150%;
    max-height: auto;
    overflow: hidden;
    object-fit: cover;
    overflow: hidden;
}

.profile-sidepanel {
    background-color: rgba(0,0,0,0.25);
    grid-area: profile-sidepanel;
    border-radius: 0 15px 15px 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-sidepanel h3 {
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.profile-sidepanel img {
    margin-top: 2rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

#id_image {
    display: none;
}

.upload-btn-container {
    padding-top: 1.25rem;
}

#upload-btn {
    cursor: pointer;
    border: 1px solid var(--primary);
    font-size: 1rem;
}

#upload-btn:hover {
    background-color: var(--info);
    border-color: var(--info);
}

#danger-btn {
    border-color: var(--error);
    color: var(--error);
}

#danger-btn:hover {
    background-color: var(--error);
    color: black;
}

#info-btn {
    border-color: var(--info);
    color: var(--info);
    text-decoration: none;
}

#info-btn:hover {
    background-color: var(--info);
    color: black;
}