.form-container {
    margin: 5rem 10%;
    border-radius: 15px;
    display: grid;
    grid-template-areas: "input-form form-sidepanel";
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: var(--base-secondary);
    overflow: hidden;
}

@media only screen and (max-width: 1150px) {
    .form-container {
        grid-template-areas: "input-form";
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .form-container {
        margin: 5rem 5%;
        height: 35rem;
    }
}

.form-container-register {
    height: 70rem;
}

.form-container-login {
    height: 40rem;
}

.form-container-delete {
    height: 25rem;
    text-align: center;
}

.form-container-event-register {
    height: 40rem;
}

.form-container-teammates {
    height: 55rem;
}

#update-profile-container {
    height: 55rem;
    grid-template-areas: "input-form profile-sidepanel";
}

@media only screen and (max-width: 1250px) {

    .form-container-teammates {
        height: 47rem;
    }

}

@media only screen and (max-width: 650px) {
    .form-container-login {
        height: 35rem;
    }

    .form-container-register {
        height: 75rem;
    }

    .form-container-event-register {
        height: 45rem;
    }

    .form-container-teammates {
        height: 45rem;
    }

}

.input-form {
    margin: 4rem;
    grid-area: input-form;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 1.25rem;
    font-weight: 200;
}

.legend-container {
    display: flex;
    justify-content: center;
}

.input-form legend {
    font-size: 2rem;
    text-align: center;
    text-transform: center;
}

.input-form p {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input-form fieldset {
    border-width: 0px;
}

.input-form input, textarea {
    background-color: rgba(0,0,0,0.25);
    margin-top: 0.5rem;
    border-width: 0;
    border-radius: 5px;
    color: var(--primary);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 200;
}

.input-form input {
    height: 2.5rem;
}

.input-form textarea {
    line-height: 2rem;
}

.input-form .helptext, .form-container ul {
    font-size: 0.8rem;
    filter: brightness(75%);
    margin: 0 1rem;
    line-height: 1.25rem;
}

.input-form .errorlist {
    position: relative;
    top:0.5rem;
    background-color: var(--error);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
}

.input-form .button-container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 650px) {

    .input-form {
        margin: 2rem;
        font-size: 1rem;
    }

    .input-form input {
        height: 2rem;
    }
}

.staff-btn-container {
    background-color: black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}

.staff-btn-container div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.signup-btn {
    cursor: pointer;
    margin-top: 2rem;
    background-color: rgba(0,0,0,0);
    border-width: 0;
    color: var(--primary);
    font-size: 1.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 200;
    border: 1px solid var(--primary);
    padding: 0.75rem;
    width: 10rem;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}

body.hasHover .signup-btn:hover {
    color: black;
    background-color: var(--primary);
    transition: 0.3s;
}

.signup-btn:active {
    filter: brightness(50%);
    transition: 0.2s;
}

.input-form .text-muted {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 2.5rem;
}

.form-sidepanel {
    grid-area: form-sidepanel;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 15px 15px 0;
    height: 100%;
    max-height: 100%;
}

.form-sidepanel img {
    height: 120%;
    width: auto;
    text-align: center;
    overflow: hidden;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    scale: 1
}

@media only screen and (min-width: 1750px) {
    .form-sidepanel img {
        height: 200%;
    }
}

@media only screen and (max-width: 1200px) {
    .form-sidepanel img {
        height: 100%;
    }
}

.profile-sidepanel {
    background-color: rgba(0,0,0,0.25);
    grid-area: profile-sidepanel;
    border-radius: 0 15px 15px 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-sidepanel h3 {
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.profile-sidepanel img {
    margin-top: 2rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 1150px) {
    .form-sidepanel {
        display: none;
    }
}

#id_image {
    display: none;
}

.upload-btn-container {
    padding-top: 1.25rem;
}

#upload-btn {
    cursor: pointer;
    border: 1px solid var(--primary);
    font-size: 1rem;
}

body.hasHover #upload-btn:hover {
    background-color: var(--info);
    border-color: var(--info);
}

#danger-btn {
    border-color: var(--error);
    color: var(--error);
}

body.hasHover #danger-btn:hover {
    background-color: var(--error);
    color: black;
}

#info-btn {
    border-color: var(--info);
    color: var(--info);
    text-decoration: none;
}

body.hasHover #info-btn:hover {
    background-color: var(--info);
    color: black;
}
