#teammates-list {
    height: 40rem;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

#teammates-list li {
    list-style: none;
    line-height: 4rem;
    font-size: 1.25rem;
    font-weight: 200;
    border-top: 1px solid var(--base);
}

#teammates-list li:first-of-type {
    border-top: none;
}

#teammates-list input {
    display: none;
}

#teammates-list label {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--base-secondary);
    transition: 0.2s;
}

#teammates-list span {
    width: 100%;
}

#teammates-list label:hover {
    background-color: var(--info);
    transition: 0.2s;
}

#teammates-list label:active {
    filter: brightness(50%);
    transition: 0.2s;
}

#teammates-list .selected {
    background-color: var(--success);
}