#teammates-list {
    max-height: 30rem;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

#teammates-input {
    margin: 0 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#teammates-form {
    max-width: 100%;

}

#teammates-list {
    width: 100%;
    filter: brightness(75%);
    margin-left: 0;
}

#teammates-list li {
    list-style: none;
    line-height: 4rem;
    font-size: 1.25rem;
    font-weight: 200;
}

#teammates-list input {
    display: none;
}

#teammates-list label {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--base-secondary);
    transition: 0.2s;
}

#teammates-list span {
    width: 100%;
}

body.hasHover #teammates-list label:hover {
    background-color: var(--info);
    transition: 0.2s;
}

#teammates-list label:active {
    filter: brightness(50%);
    transition: 0.2s;
}

#teammates-list .selected {
    background-color: var(--success);
}



@media only screen and (max-width: 1250px) {

    #teammates-list {
        max-height: 20rem;
    }

    #teammates-list li {
        line-height: 3rem;
        font-size: 1.15rem;
    }
    
}

@media only screen and (max-width: 650px) {

    #teammates-list {
        max-height: 20rem;
    }

    #teammates-list li {
        line-height: 2.5rem;
        font-size: 0.95rem;
    }
    
}