{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="form-container form-container-login">
        <div class="input-form">
            <legend>You have been logged out</legend>
            <div class="button-container">
                <a style="margin-top: 2rem" href="{% url 'login' %}">Go to login page</a>
            </div>
        </div>
        <div class="form-sidepanel">
            <img id="side-img-login" src="{% static 'events/images/background/dunking_outside_002.jpg' %}" alt="">
        </div>
    </div>
{% endblock content %}