{% extends "events/base.html" %}
{% block content %}
    <div class="profile">
        <section class="profile-header">
            <div id="profile-header-left">
                <img class="profile-image" src="{{ user.profile.image.url }}" alt="">
                <div class="profile-info-text">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <!-- <h3>(Placeholder Team)</h3> -->
                </div>
            </div>
            <div id="profile-header-right">
                <div>
                    <a class="btn btn-info no-wrap" href="{% url 'profile-update' %}">Edit Profile</a>
                </div>
                <div>
                    <a class="btn btn-info no-wrap" href="{% url 'profile-teammates' %}">Edit Teammates</a>
                </div>
            </div>
        </section>
        <section class="profile-events profile-section">
            <h2 class="profile-section-title">Tournaments</h2>
            <div class="profile-tab-info">
                <div class="special-list-container">
                    <ul class="special-list">
                        {% for event in events %}
                            <li>
                                <div class="special-container">
                                    <span>{{ event.title }}</span>
                                    <span>{{ event.event_datetime|date:"F j Y, g:iA" }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="profile-highlights profile-section">
            <h2 class="profile-section-title">Favorite Teammates</h2>
            <div class="profile-tab-info">
                <div class="special-list-container">
                    <ul class="special-list">
                        {% for teammate in teammates %}
                            <li>
                                <div class="special-container">
                                    <span>{{ teammate }}</span>
                                    <span>{{ teammate.first_name }} {{ teammate.last_name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div> 
            </div>
        </section>
    </div>
{% endblock content %}