{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="form-container" id="update-profile-container">
            <div class="input-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Teammates</legend>
                        {{ form.as_p }}
                        <div class="upload-btn-container">
                            <label for="id_image" class="signup-btn" id="upload-btn">Choose Image</label>
                        </div>
                    </fieldset>
                    <div class="button-container">
                        <button class="signup-btn" type="submit">Update</button>
                    </div>
                </form>
                <div class="text-muted">
                    <small><a href="{% url 'profile' %}">Return to profile without saving</a></small>
                </div>
            </div>
            <div class="form-sidepanel">
                <img src="{% static 'events/images/background/dunking_outside_001.jpg' %}" alt="">
            </div>
        </div>
    </div>
{% endblock content %}