{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="form-container" id="form-container-login">
            <div class="input-form">
                <form action="/profile/teammates/" method="POST">
                    {% csrf_token %}
                    <legend>Add Teammates</legend>
                    <ul>
                        {% for user in users %}
                        <li>
                            <label for="user_id_{{ user.id }}">{{ user }}</label>
                            <input type="checkbox" name="user_id_{{ user.id }}" id="user_id_{{ user.id }}">
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="button-container">
                        <button class="signup-btn" type="submit">Add</button>
                    </div>
                </form>
                <div class="text-muted">
                    <small><a href="{% url 'profile' %}">Return to profile without saving</a></small>
                </div>
            </div>
            <div class="form-sidepanel">
                <img src="{% static 'events/images/background/shooting_outside_001.jpg' %}" alt="">
            </div>
        </div>
    </div>
{% endblock content %}