{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="form-container" id="form-container-login">
            <div class="input-form">
                <form action="/profile/teammates/" method="POST">
                    {% csrf_token %}
                    <legend>Select Teammates</legend>
                    <ul id="teammates-list">
                        {% for user in users %}
                            {% if user.id != myuser.id %}
                                    {% if user.id in current_teammates_id %}
                                        <li>
                                            <label class="selected" for="user_id_{{ user.id }}">
                                                <span class="{{ user.id }}">{{ user }}</span>
                                                <span class="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</span>
                                            </label>
                                            <input type="checkbox" name="user_id_{{ user.id }}" id="user_id_{{ user.id }}" checked>
                                        </li>
                                    {% else %}
                                        <li>
                                            <label for="user_id_{{ user.id }}">
                                                <span class="{{ user.id }}">{{ user }}</span>
                                                <span class="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</span>
                                            </label>
                                            <input type="checkbox" name="user_id_{{ user.id }}" id="user_id_{{ user.id }}">
                                        </li>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="button-container">
                        <button class="signup-btn" type="submit">Submit</button>
                    </div>
                </form>
                <div class="text-muted">
                    <small><a href="{% url 'profile' %}">Return to profile without saving</a></small>
                </div>
            </div>
            <div class="form-sidepanel">
                <img src="{% static 'events/images/background/shooting_outside_001.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <script src="{% static 'events/javascript/selectTeammates.js' %}" defer></script>
{% endblock content %}